@import '../../common.module.scss';

div.contact {
  display: flex;
  justify-content: flex-start;
  gap: 1rem 1rem;
  flex-wrap: wrap;
}

button.contact_item {
  width: 170px;
  height: 3rem;
  border: 3px solid $main-brown;
  box-shadow: 3px 3px 0px #b29f77;
  border-radius: 2rem;
  line-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  font-size: 1rem;
  cursor: pointer;
}

button.contact_item:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

div.contact_item:hover {
  background-color: $main-beige;
}

a.contact_link {

  i, p {
    color: $main-brown;
  }
  i {
    font-size: 1.4rem;
  }
  text-decoration: none;
}

.contact_image {
  height: 60%;
  width: auto;
  margin: auto 0
}