@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
  --header-black: #00094e;
}

* {
  font-family: 'Lexend Deca', sans-serif;
  box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  
}

footer {
  margin-top: 150px;
  height: 100px;
  background-color: var(--main-beige);
  display: flex;
  justify-content: center;
  align-items: center;
}