@import "/src/util";

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-bottom: 2rem;
  @include tablet(justify-content, flex-start, center);


  .filter_item {
    padding: .2rem .8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s linear;
    font-size: .9rem;
  }
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;

  .project {
    width: 100%;
    @include tablet(height, 320px, auto);

    display: flex;
    @include tablet(flex-direction, row, column);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 1px 1px 5px hsl(0, 0, 70);

    .image_container {
      @include tablet(width, 35%, 100%);
      @include tablet(height, 100%, 300px);
      overflow: hidden;
      position: relative;
      box-shadow: 1px 1px 5px hsl(0, 0, 70);

      img {
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
      }
    }

    .info {
      @include tablet(width, 65%, 100%);
      height: auto;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      @include tablet(justify-content, flex-start, flex-start);

      .title {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        @include tablet(justify-content, flex-start, center);

        .name {
          font-size: 1.5rem;
        }

        i {
          font-size: 1.5rem;
          color: hsl(0, 0, 50);
        }

        .git_link:hover {
          color: black;
        }

        .demo_link:hover {
          color: #70b6f3;
        }
      }

      .skills {
        display: flex;
        gap: 0.5rem;
        @include tablet(justify-content, flex-start, center);
        flex-wrap: wrap;
        .skill {
          font-size: 0.9rem;
          // background-color: hsl(0, 0, 30);
          color: white;
          padding: .2rem .8rem;
          border-radius: 1rem;
        }
      }
    }
  }
}

@media (width <= 768px) {
}
