@import "/src/util";

.projects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.project {
  width: 100%;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1px 1px 5px hsl(0, 0, 70);

  img {
    width: 400px;
    height: auto;
  }

  .info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .title {
      display: flex;
      column-gap: .5rem;
      align-items: center;

      .name {
        font-size: 1.5rem;
      }

      i {
        font-size: 1.5rem;
        color: hsl(0, 0, 50);
      }

      .git_link:hover {
        color: black;
      }

      .demo_link:hover {
        color: #2489e0;
      }
    }

    .skills {
      display: flex;
      column-gap: .5rem;
      .skill {
        background-color: hsl(0, 0, 30);
        color: white;
        padding: .4rem .6rem;
        border-radius: .3rem;
      }
    }
  }
}

@media (width <= 768px) {

} 