@font-face {
  font-family: "MyFont";
  src: url("/font/RingMatrix.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@500&display=swap');

$st-width: 4411;
$st-height: 2337;
$st-ratio: calc($st-width/$st-height);

$bd-width: 1928;
$bd-height: 384;
$bd-left: 352;
$bd-top: 246;
$mobile-width: 624px;

.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @media (width <= $mobile-width) {
    height: calc(100vw * 1.7 / $st-ratio);
  }
  background-image: url("/img/station.jpg");
  background-size: cover;
  @media (width <= $mobile-width) {
    background-size: 170% auto;
  }
  background-repeat: no-repeat;
  position: relative;
  perspective: 100vmax;

  .station_image {
    width: 100%;
  }

  .board {
    position: absolute;

    @media (width > $mobile-width) {
      @media (aspect-ratio > $st-ratio) {
        // 横長
        width: calc($bd-width/$st-width * 100%);
        left: calc($bd-left/$st-width * 100%);
        height: calc(100vw / $st-ratio * ($bd-height/$st-height));
        top: calc(100vw / $st-ratio * ($bd-top/$st-height));
      }
      @media (aspect-ratio <= $st-ratio) {
        // 縦長
        height: calc($bd-height/$st-height) * 100%;
        top: calc($bd-top/$st-height) * 100%;
        width: 100vh * $st-ratio * calc($bd-width/$st-width);
        left: 100vh * $st-ratio * calc($bd-left/$st-width);
      }
    }
    @media (width <= $mobile-width) {
      width: 75%;
      height: calc(($bd-height/$st-height) * 100%);
      left: calc(100vw * 1.7 * ($bd-left/$st-width));
      top: calc(100vw * 1.7 / $st-ratio * ($bd-top/$st-height));
    }
    margin: 0;
    background-color: rgb(16, 16, 16);
    transform: rotateX(-2deg) rotateY(3deg);

    * {
      font-family: "MyFont";
      @media (width <= $mobile-width) {
        font-family: 'Tomorrow', sans-serif;
      }
    }

    .schedule {
      width: 100%;
      height: 84%;
      position: relative;
      overflow: hidden;
      color: rgb(231, 231, 231);
      border-radius: 3px 3px 0 0;

      .arrival {
        height: 33%;
        width: 100%;
        display: flex;
        padding: 0 0 0 0.5vw;
        justify-content: space-between;
        align-items: center;

        @media (width > $mobile-width) {
          @media (aspect-ratio > $st-ratio) {
            // 横長
            font-size: 1.6vw;
          }
          @media (aspect-ratio <= $st-ratio) {
            // 縦長
            font-size: 3vh;
          }
        }
        @media (width <= $mobile-width) {
          font-size: 2.6vw;
          letter-spacing: .04em;
        }
        position: absolute;
        left: 0px;
        z-index: 0;
        letter-spacing: 0.003vw;

        .train_icon {
          height: 80%;
          width: auto;
        }

        .destination {
          width: 70%;
        }

        .eta {
          width: 15%;
          text-align: center;
        }
      }
    }

    .info {
      width: 100%;
      height: 16%;
      background-color: rgb(0, 42, 120);

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      border-radius: 0 0 3px 3px;

      .announce {
        width: 86%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        .announce_text {
          position: absolute;
          animation: announce 20s linear infinite;
          white-space: nowrap;
          margin: 0;
          z-index: 100;

          @media (width > $mobile-width) {
            @media (aspect-ratio > $st-ratio) {
              // 横長
              font-size: 1vw;
            }
            @media (aspect-ratio <= $st-ratio) {
              // 縦長
              font-size: 1.8vh;
            }
          }
          @media (width <= $mobile-width) {
            font-size: 1.8vw;
          }
        }
      }

      .current_time {
        width: 12%;
        text-align: center;
        letter-spacing: 0;

        @media (width > $mobile-width) {
          @media (aspect-ratio > $st-ratio) {
            // 横長
            font-size: 1vw;
          }
          @media (aspect-ratio <= $st-ratio) {
            // 縦長
            font-size: 1.8vh;
          }
        }
        @media (width <= $mobile-width) {
          font-size: 1.8vw;
        }
      }
    }
  }
}

@keyframes announce {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
