@import "/src/variables";

.menu {
  width: max-content;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding-inline: 24px;
  padding-block: 8px;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1000;

  position: fixed;
  inset: 90% auto auto 50%;
  transform: translate(-50%, -50%);

  border-radius: 50px;

  .mobile_menu_close {
    display: none;
  }
  .menu_item {
    display: block;
    width: 140px;
    height: 36px;
    text-align: center;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    &:active, &:visited, &:hover, &:focus {
      text-decoration: none;
    }

    div {
      position: absolute;
      inset: 50% auto auto 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 20;
      background-color: rgb(41, 41, 41);
      color: white;
      width: min-content;
      line-height: 1;
      padding: 3px 6px;
      border-radius: 2px;
    }
    overflow: hidden;
  }

  .menu_item::after {
    content: "";
    width: 100%;
    height: 50%;
    background-color: $skytrain-blue;
    position: absolute;
    inset: 50% auto auto 0%;
    z-index: 10;
    border-top: 3px solid rgb(219, 182, 0);
  }

  .menu_item:first-child {
    border-radius: 50px 8px 8px 10px;
    div {
      inset: 50% auto auto 54%;
    }
  }

  .menu_item:last-child {
    border-radius: 8px 50px 10px 8px;
    div {
      inset: 50% auto auto 46%;
    }
  }

}

@media (width <= $mobile-width) {
  .menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #353535;
    width: 100vw;
    height: 100vh;
    inset: 0 auto auto 0;
    transform: none;
    border-radius: 0;
    padding: 0;
    padding-top: 70px;

    .mobile_menu_close {
      font-size: 36px;
      color: white;
      display: inline;
      position: absolute;
      inset: 20px 20px auto auto;
      z-index: 300;
    }

    .menu_item {
      border-radius: 0;
      width: 100%;
      height: 50px;
      font-size: 18px;
    }

    .menu_item:first-child, .menu_item:last-child {
      border-radius: 0;
      div {
        inset: 50% auto auto 50%;
      }
    }
  
  }
}

.mobile_menu_open {
  width: 56px;
  height: 56px;
  color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 10px 10px auto auto;
  font-size: 36px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

@media (width > $mobile-width) {
  .mobile_menu_open {
    display: none;
  }
}

