@import "/src/util";

.contact {
  display: flex;
  justify-content: flex-start;
  gap: 1rem 1rem;
  flex-wrap: wrap;

  .contact_link {
    @include tablet(width, 170px, auto);
    i,
    p {
      color: black;
    }
    i {
      font-size: 1.4rem;
    }
    text-decoration: none;

    button.contact_item {
      @include tablet(width, 100%, 50px);
      @include tablet(height, 3rem, 50px);
      border: none;
      box-shadow: 3px 3px 0px #929292;
      @include tablet(border-radius, 2rem, 50%);
      line-height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      background-color: rgb(244, 244, 244);

      @media (width <= $tablet-width) {
        p {
          display: none;
        }
      }

      .contact_image {
        height: 60%;
        width: auto;
        margin: auto 0;
      }
    }

    button.contact_item:active {
      transform: translate(3px, 3px);
      box-shadow: none;
    }

    button.contact_item:hover {
      background-color: $skytrain-blue;
      i, p {
        color: white !important;
      }
    }
  }
}

.resume_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  img.pdf_icon {
    width: auto;
    height: 2rem;
  }
}