@import "/src/variables";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

* {
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  @media (width <= $mobile-width) {
    font-size: 14px;
  }
}

body {
  background-color: #ebeae8;
  color: #4a2e07;
  font-weight: 100;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

button {
  text-align: center;
}

@media (width <= $mobile-width) {
  h1, h2, h3, h4, h5, h6, div, p, a {
    text-align: center;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: $main-brown;
}

.section {
  width: min(90%, 1200px);
  margin: 0 auto;
  text-align: left;
  margin-top: 3rem;

  h2 {
    text-align: center;
    display: inline-block;
    margin-bottom: 6px;
    padding: 0.8rem 1rem;
    outline: 3px solid $main-brown;
    position: relative;
    z-index: 100;
    font-size: 1.5rem;
  }

  h2::after {
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    background-color: $main-beige;
    border: 3px solid $main-beige;
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    z-index: -100;
  }

  hr {
    position: relative;
    height: 2px;
    border-width: 0;
    background-color: $main-brown;
    margin-bottom: 2rem;
  }
}

@media (width <= $mobile-width) {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    h2 {
      width: 220px;
      margin-inline: auto;
      margin-bottom: 1.5rem;
    }
    hr {
      margin-bottom: 1rem;
      display: none;
    }
  }
}
