@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$main-beige: #d3c29e;
$main-brown: #613d0a;

* {
  font-family: 'Lexend Deca', sans-serif;
  box-sizing: border-box;
}

h2 {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 3rem;
  padding: .8rem 1rem;
  outline: 3px solid $main-brown;

  position: relative;
  z-index: 100;
}

h2::after {
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  background-color: $main-beige;
  border: 3px solid $main-beige;
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  z-index: -100;
}

h2::first-letter {
  /* font-size: 2.5rem; */
}


hr {
  position: relative;
	height: 2px;
	border-width: 0;
	background-color: $main-brown;
  margin-bottom: 1rem;
}

body {
  background-color: #ebeae8;
  color: #4a2e07;
  font-weight: 100;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif, 
}

a:link, a:visited, a:hover, a:active {
  color: $main-brown
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

video.top { 
  position: relative;
  width: 100%;
  height: auto;
}

.title-text {
  color: white;
  font-size: 3em;
  position: absolute;
  text-align: center;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  user-select: none;
  text-shadow: #6f6f6f 1px 1px 5px;
}

.section {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}


div.interest {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  color: black;
  margin-bottom: 0.5rem;
}

div.interest-item {
  height: 2.5rem;
  width: 80px;
  text-align: center;
  background-color: #faecb2;
  background-image: linear-gradient( 135deg, #f9e5bc 10%, #fbd085 100%);
  border-left: solid 4px #fea100;
  box-shadow: 2px 2px 10px #d0c69e;;
  line-height: 3rem;
  font-size: 1rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.to-gallery {
  padding-top: 3rem;
  color:#60abf7;
  text-decoration: none;
}

a.to-gallery:hover {
  text-decoration: underline;
}



footer {
  margin-top: 150px;
  height: 100px;
  background-color: $main-beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:1440px) {
  .title-text {
    font-size: 1.2rem;
    top: 80px;
  }
  div.section {
    width: 90%;
  }
  
  div.profile {
    flex-direction: column;
  }

  .profile-image {
    width: 100%;
  }

  div.profile-text {
    width: 100%;
    margin-top: 2rem;
    padding-left: 0;

  }

  div.interest {
    justify-content: center;
  }

  div.project {
    width: 100%;
  }

  div.skills {
    gap: 1rem 0;
  }
  
  div.skill {
    width: 30%;
    margin: 0 1%;
  }

  div.experience-first {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  div.work-item {
    width: 100%;
    flex-direction: column;
  }

  div.work-description {
    width: 100%;
  }

  img.work-image {
    width: 100%;
    height: auto;
  }

  div.org-name {
    width: 100%;

  }
}


@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
