@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
  --main-beige: #d3c29e;
  --main-brown: #613d0a;
}

* {
  font-family: 'Lexend Deca', sans-serif;
  box-sizing: border-box;
}

h2 {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 3rem;
  padding: .8rem 1rem;
  border: 3px solid var(--main-brown);

  position: relative;
}

h2::after {
  width: 100%;
  height: 100%;
  background-color: var(--main-beige);
  border: 3px solid var(--main-beige);
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  z-index: -1;
}

h2::first-letter {
  /* font-size: 2.5rem; */
}


hr {
  position: relative;
	height: 2px;
	border-width: 0;
	background-color: var(--main-brown);
  margin-bottom: 1rem;
}

body {
  background-color: #ebeae8;
  color: #4a2e07;
  font-weight: 100;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif, 
}

a:link, a:visited, a:hover, a:active {
  color: var(--main-brown);
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

video.top { 
  position: relative;
  width: 100%;
  height: auto;
}

.title-text {
  color: white;
  font-size: 3em;
  position: absolute;
  text-align: center;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  user-select: none;
  text-shadow: #6f6f6f 1px 1px 5px;
}

div.section {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

div.profile {
  display: flex;
  justify-content: flex-start;
}

.profile-image {
  width: 30%;
  height: auto;
  box-shadow: 0px 5px 20px 0 rgba(251, 251, 251, 0.5);
}

div.profile-text {
  width: 70%;
  padding-left: 2rem;
}

div.interest {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  color: black;
  margin-bottom: 0.5rem;
}

div.interest-item {
  height: 2.5rem;
  width: 80px;
  text-align: center;
  background-color: #faecb2;
  background-image: linear-gradient( 135deg, #f9e5bc 10%, #fbd085 100%);
  border-left: solid 4px #fea100;
  box-shadow: 2px 2px 10px #d0c69e;;
  line-height: 3rem;
  font-size: 1rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.to-gallery {
  padding-top: 3rem;
  color:#60abf7;
  text-decoration: none;
}

a.to-gallery:hover {
  text-decoration: underline;
}

div.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}

div.project {
  width: 49%;
  position: relative;
}

.project-link {
  width: 100%;
}

.project-image {
  width: 100%;
  height: 100%;
}

.project-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  transition: opacity 0.3s;
  opacity: 0;
}

.project-filter:hover {
  opacity: 1;
}

div.project-name {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

div.project-langs {
  position: absolute;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
}

div.project-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 135deg, #ff3661 20%,#0D25B9 100%);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  height: 70%;
  padding: 0rem .8rem;
  margin-right: .8rem;
}

div.skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 0 5%;
}

div.skill {
  width: 30%;
  margin: 0 0;
  border-radius: 10px;
}

div.skill:hover {
  /* background-color: #00bcd4; */
}

p.skill-name {
  font-size: 1rem;
  margin-bottom: .3rem;
}

p.skill-name-two-lines {
  font-size: 1rem;
  margin-bottom: .1rem;
  line-height: 1.2rem;
}

.skill-rate-box {
  width: 100%;
  height: 1rem;
  border: 2px solid #9d876a;
  border-radius: 10px;
}

.skill-rate {
  height: 100%;
  background-color: #f6a235;
  border-radius: 5px 0 0 5px;
  transition-property: width;
}

.rate20 {
  width: 20%;
  animation-duration: .3s;
}
.rate40 {
  width: 40%;
  animation-duration: .6s;
}
.rate60 {
  width: 60%;
  animation-duration: .9s;
}
.rate80 {
  width: 80%;
  animation-duration: 1.2s;
}
.rate100 {
  width: 100%;
  border-radius: 5px;
  animation-duration: 1.5s;
}

@keyframes rateUntil20 {
  from {
      width: 0;
  }
  to {
      width: 20%;
  }
}

@keyframes rateUntil40 {
  from {
      width: 0;
  }
  to {
      width: 40%;
  }
}

@keyframes rateUntil60 {
  from {
      width: 0;
  }
  to {
      width: 60%;
  }
}

@keyframes rateUntil80 {
  from {
      width: 0;
  }
  to {
      width: 80%;
  }
}

@keyframes rateUntil100 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

div.experience-first {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

div.org-name {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  gap: 0 1rem;
}

a.link {
  display: flex;
  align-items: center;
}

img.link {
  width: 1rem;
  height: auto;
}

img.link:hover {
  filter: invert(88%) sepia(100%) saturate(2929%) hue-rotate(200deg) brightness(200%) contrast(104%);
}

p.role {
  font-style: italic;
}

div.work-item {
  display: flex;
  justify-content: flex-start;
  gap: 0 4rem;
}

div.work-description {
  width: 60%;
}

img.work-image {
  width: 20%;
  height: auto;
  margin-top: 2rem;
}



img#pdf-icon {
  width: auto;
  height: 2rem;
}

div.contact {
  display: flex;
  justify-content: flex-start;
  gap: 1rem 1rem;
  flex-wrap: wrap;
}

button.contact-item {
  width: 170px;
  height: 3rem;
  border: 3px solid var(--main-brown);
  box-shadow: 3px 3px 0px #b29f77;
  border-radius: 2rem;
  line-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  font-size: 1rem;
  cursor: pointer;
}

button.contact-item:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

div.contact-item:hover {
  background-color: var(--main-beige);
}

a.contact-link {

  i, p {
    color: var(--main-brown);
  }
  i {
    font-size: 1.4rem;
  }
  text-decoration: none;
}

.contact-image {
  height: 60%;
  width: auto;
  margin: auto 0
}

footer {
  margin-top: 150px;
  height: 100px;
  background-color: var(--main-beige);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:1440px) {
  .title-text {
    font-size: 1.2rem;
    top: 80px;
  }
  div.section {
    width: 90%;
  }
  
  div.profile {
    flex-direction: column;
  }

  .profile-image {
    width: 100%;
  }

  div.profile-text {
    width: 100%;
    margin-top: 2rem;
    padding-left: 0;

  }

  div.interest {
    justify-content: center;
  }

  div.project {
    width: 100%;
  }

  div.skills {
    gap: 1rem 0;
  }
  
  div.skill {
    width: 30%;
    margin: 0 1%;
  }

  div.experience-first {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  div.work-item {
    width: 100%;
    flex-direction: column;
  }

  div.work-description {
    width: 100%;
  }

  img.work-image {
    width: 100%;
    height: auto;
  }

  div.org-name {
    width: 100%;

  }
}


@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@font-face {
  font-family: 'MyFont';
  src: url(RingMatrix.ttf);
}

$st-width: 4411;
$st-height: 2337;
$st-ratio: $st-width/$st-height;

$bd-width: 1944;
$bd-height: 384;
$bd-left: 346;
$bd-top: 242;

header {
  width: 100%;
  height: 100vh;
  background-image: url("./station.jpg");
  background-size: cover;
  position: relative;
  perspective: 100vmax;

  #station-image {
    width: 100%;
  }

  #board {
    position: absolute;
    @media (aspect-ratio > $st-ratio) { // 横長
      width: calc($bd-width/$st-width*100%);
      left: calc($bd-left/$st-width*100%);
      height: calc(100vw / $st-ratio * ($bd-height/$st-height));
      top:  calc(100vw / $st-ratio * ($bd-top/$st-height));
    }
    @media (aspect-ratio <= $st-ratio) { // 縦長
      height: calc($bd-height/$st-height*100%);
      top: calc($bd-top/$st-height*100%);
      width: calc(100vh * $st-ratio * ($bd-width/$st-width));
      left:  calc(100vh * $st-ratio * ($bd-left/$st-width));
    }
    margin: 0;
    background-color: rgb(16, 16, 16);
    transform: rotateX(-2deg) rotateY(2deg);
  
    * {
      font-family: "MyFont";
    }
  
    #schedule {
      width: 100%;
      height: 84%;
      position: relative;
      overflow: hidden;
      color: rgb(231, 231, 231);
      border-radius: 3px 3px 0 0;

      .arrival {
        height: 33%;
        width: 100%;
        display: flex;
        padding: 0 0 0 0.5vw;
        justify-content: space-between;
        align-items: center;
        @media (aspect-ratio > $st-ratio) { // 横長
          font-size: 1.6vw;
        }
        @media (aspect-ratio <= $st-ratio) { // 縦長
          font-size: 3.0vh;
        }
        position: absolute;
        left: 0;
        z-index: 0;
        letter-spacing: 0.003vw;

        .train-icon {
          height: 80%;
          width: auto;
        }
      
        .destination {
          width: 70%;
        }
      
        .eta {
          width: 15%;
          text-align: center;
        }
      }
    }
  
    #info {
      width: 100%;
      height: 16%;
      background-color: rgb(0, 42, 120);
  
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      border-radius: 0 0 3px 3px;
      
      #announce {
        width: 86%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        

        #announce-text {
          position: absolute;
          animation: announce 10s linear infinite;
          white-space: nowrap;
          margin: 0;
          z-index: 100;

          @media (aspect-ratio > $st-ratio) { // 横長
            font-size: 1vw;
          }
          @media (aspect-ratio <= $st-ratio) { // 縦長
            font-size: 1.8vh;
          }
        }
      }

      #current-time {
        width: 12%;
        text-align: center;
        letter-spacing: 0;
      }
    }
  
  }
}

@keyframes announce {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}