$tablet-width: 834px;
$skytrain-blue: #002a78;
$skytrain-yellow: #dbb600;

@mixin tablet($property-name, $desktop-value, $tablet-value) {
  #{$property-name}: $tablet-value;

  @media (min-width: calc($tablet-width - 1px)) {
    #{$property-name}: $desktop-value;
  }
}