$tablet-width: 834px;
$skytrain-blue: #d3c29e;
$main-brown: #613d0a;
$skytrain-blue: #002a78;

@mixin tablet($property-name, $desktop-value, $tablet-value) {
  #{$property-name}: $tablet-value;

  @media (min-width: $tablet-width) {
    #{$property-name}: $desktop-value;
  }
}